body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #434455;
  background-color: #ffffff;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: currentColor;
  font-style: normal;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  min-width: 100%;
  height: auto;
}

input,
textarea,
button {
  font-family: inherit;
}

/* -------------- SHARED-STYLE -------------*/

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

.section-container {
  padding: 96px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-description {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.section-title,
.features-subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
  text-align: center;
}

.soc-icon-link {
  background-color: #4d5ae5;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.soc-icon {
  fill: #f4f4fd;
}
.footer-icon-item,
.members-icon-item {
  width: 40px;
  height: 40px;
}

/* -------------- HEADER ------------------- */

.header {
  border-bottom: 1px solid #e7e9fc;
  max-width: 320px;
  margin: 0 auto;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo {
  color: #2e2f42;
}

.header-logo-display {
  padding: 16px 0;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-menu-btn {
  background-color: #ffffff;
  border: none;
  padding: 16px 0;
}

.header-list {
  display: none;
}

.header-contacts-list {
  display: none;
}

@media screen and (min-width: 768px) {
  .header {
    max-width: 768px;
  }

  .header-menu-btn,
  .header-menu-icon {
    display: none;
  }

  .header-logo-display {
    padding: 24px 0;
    margin-right: 120px;
  }

  .header-list {
    display: flex;
    gap: 40px;
  }

  .header-link {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    position: relative;
  }

  .header-link,
  .header-link-current,
  .header-contacts-link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-link:hover,
  .header-link:focus,
  .header-link-current:active,
  .header-contacts-link:hover,
  .header-contacts-link:focus,
  .header-link-current {
    color: #404bbf;
  }

  .header-link::after {
    content: "";
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background: #404bbf;
    position: absolute;
    left: 0;
    bottom: -1px;
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-link:hover::after,
  .header-link:focus::after,
  .header-link-current::after {
    opacity: 1;
  }

  .header-contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-right: auto;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }
}

@media screen and (min-width: 1158px) {
  .header {
    max-width: 1440px;
  }

  .header-logo-display {
    margin-right: 76px;
  }

  .header-contacts-list {
    flex-direction: row;
    gap: 40px;
  }

  .header-contacts-link {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

/* --------------------- HERO ------------------ */

.hero-section {
  background-color: #2e2f42;
  padding: 72px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/bg/bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 320px;
  margin: 0 auto;
}

@media screen and (min-resolution: 192dpi) {
  .hero-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg/bg-mob@2x.jpg);
  }
}

.hero-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  text-transform: capitalize;
  max-width: 216px;
  margin: 0 auto 72px;
}

.hero-title span {
  text-transform: lowercase;
}

.hero-btn,
.modal-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  display: block;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus,
.modal-btn:hover,
.modal-btn:focus,
.footer-form-button:hover,
.footer-form-button:focus {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #404bbf;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .hero-section {
    padding: 112px 0;
    max-width: 768px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg/bg-tab.jpg);
  }

  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin: 0 auto 36px;
  }

  @media screen and (min-resolution: 192dpi) {
    .hero-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/bg/bg-tab@2x.jpg);
    }
  }
}

@media screen and (min-width: 1158px) {
  .hero-section {
    padding: 188px 0;
    max-width: 1440px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg/bg-com.jpg);
  }

  .hero-title {
    margin: 0 auto 48px;
  }

  @media screen and (min-resolution: 192dpi) {
    .hero-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/bg/bg-com@2x.jpg);
    }
  }
}

/* ----------------------FEATURES------------------ */

.features {
}
.features-title {
}
.features-container-icons {
  display: none;
}
.features-list {
}
.features-item:not(:last-child) {
  margin-bottom: 72px;
}
.features-subtitle {
  margin-bottom: 8px;
}
.features-description {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .features-list {
    display: flex;
    gap: 72px 24px;
    flex-wrap: wrap;
  }

  .features-item:not(:last-child) {
    margin-bottom: 0;
  }

  .features-item {
    width: calc((100% - 24px) / 2);
  }

  .features-subtitle {
    text-align: left;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }

  .section-container {
    padding: 120px 0;
  }

  .section-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }

  .features-container-icons {
    border: 1px solid #8e8f99;
    border-radius: 4px;
    background: #f4f4fd;
    padding: 24px 100px;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
  }

  .features-list {
    gap: 24px;
  }
  .features-item {
    width: calc((100% - 3 * 24px) / 4);
  }
}

/* ----------------------MEMBERS------------------------ */

.members {
  background-color: #f4f4fd;
}

.members > .container {
  padding: 0 28px;
}

.members-title {
  margin-bottom: 72px;
}

.members-item {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
  border-radius: 0 0 4px 4px;
  width: 100%;
}

.members-item:not(:last-child) {
  margin-bottom: 72px;
}

.members-subtitle {
  text-align: center;
  margin-bottom: 8px;
}
.members-description {
  text-align: center;
  margin-bottom: 8px;
}

.members-container {
  padding: 32px 0;
}

.members-icon-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.members-item:hover .soc-icon-link,
.soc-icon-link:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .members > .container {
    padding: 0 108px;
  }

  .members-list {
    display: flex;
    flex-wrap: wrap;
    gap: 64px 24px;
  }

  .members-item {
    width: calc((100% - 24px) / 2);
  }

  .members-item:not(:last-child) {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1158px) {
  .members > .container {
    padding: 0 15px;
  }

  .members-list {
    gap: 24px;
  }
  .members-item {
    width: calc((100% - 3 * 24px) / 4);
  }
}

/* ---------------------PORTFOLIO------------------  */

.portfolio-title {
  margin-bottom: 72px;
}

.portfolio-item {
  width: 100%;
  background: #fff;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-item:not(:last-child) {
  margin-bottom: 48px;
}

.portfolio-subtitle {
  margin-bottom: 8px;
}

.portfolio-text-container {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
}

.portfolio-text-cover {
  position: absolute;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #4d5ae5;
  padding: 40px 32px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .portfolio-text-cover {
  transform: translateY(0);
}

.portfolio-cover-wrapper {
  position: relative;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    display: flex;
    gap: 72px 24px;
    flex-wrap: wrap;
  }
  .portfolio-item {
    width: calc((100% - 24px) / 2);
  }

  .portfolio-item:not(:last-child) {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 1158px) {
  .portfolio-list {
    gap: 48px 24px;
  }

  .portfolio-item {
    width: calc((100% - 48px) / 3);
    box-shadow: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .portfolio-item:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  }
}

/* ---------------------------FOOTER------------------------- */

.footer {
  background-color: #2e2f42;
  padding: 96px 0;
}

.footer-logo-display {
  margin-bottom: 16px;
  display: inline-block;
}

.footer-logo-container {
  text-align: center;
}

.footer-logo {
  color: #f4f4fd;
}

.footer-description {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 100%;
}

.footer-social-heading,
.footer-form-heading {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
  text-align: center;
}

.footer-icon-list {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.footer-icon-item .soc-icon-link:hover,
.footer-icon-item .soc-icon-link:focus {
  background-color: #31d0aa;
}

.footer-input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;
  height: 40px;
  padding: 8px 16px;
  outline: transparent;
  width: 100%;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-input::placeholder,
.footer-input {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
}

.footer-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-form-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  font-family: inherit;
  cursor: pointer;
  background-color: #4d5ae5;
  border-radius: 4px;
  border: none;
  padding: 8px 24px;
  min-width: 165px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
}

.footer-form-icon {
  fill: #fff;
  margin-left: 16px;
}

.footer-sub-container:not(:last-child) {
  margin-bottom: 72px;
}

@media screen and (min-width: 768px) {
  .footer {
    padding: 96px 108px;
  }

  .footer-container {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  .footer-description-container {
    max-width: 264px;
    margin-right: 24px;
  }

  .footer-logo-container {
    text-align: left;
  }

  .footer-icons-container {
    max-width: 208px;
  }

  .footer-form {
    display: flex;
    gap: 24px;
  }

  .footer-input {
    width: 264px;
    margin-bottom: 0;
  }

  .footer-social-heading,
  .footer-form-heading {
    text-align: left;
  }
}

@media screen and (min-width: 1158px) {
  .footer {
    padding: 100px 0;
  }

  .footer-description {
    max-width: 264px;
  }

  .footer-description-container {
    margin-right: 120px;
  }

  .footer-icons-container {
    margin-right: 80px;
  }

  .footer-input::placeholder {
    color: #ffffff;
  }
  .footer-input {
    border: 1px solid #ffffff;
  }
}

/* ----------------------- MODAL ------------------------------ */

.backdrop {
  background-color: rgba(46, 47, 66, 0.4);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  width: 288px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  border-radius: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 72px 16px 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-heading {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.close-modal-btn {
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  height: 24px;
  width: 24px;
  display: flex;
  padding: 0;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 24px;
  top: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-icon {
  fill: #2e2f42;
  position: absolute;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal-btn:hover .close-icon,
.close-modal-btn:focus .close-icon {
  fill: #fff;
}

.close-modal-btn:hover,
.close-modal-btn:focus {
  background-color: #404bbf;
  border: none;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 34px;
}

.input-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
  display: block;
}

.input-field {
  margin-bottom: 8px;
}

.input-wrapper {
  position: relative;
}

.input-icon {
  fill: #2e2f42;
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-element {
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
}

.modal-textarea {
  resize: none;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding: 8px 16px;
}

.textarea-wrapper {
  margin-bottom: 16px;
}

.modal-element,
.modal-textarea::placeholder,
.modal-checkbox-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.modal-element,
.modal-textarea::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.modal-element:focus {
  border-color: #4d5ae5;
}

.modal-element:focus + .input-icon {
  fill: #4d5ae5;
}

.modal-checkbox-text {
  color: #8e8f99;
  align-items: center;
  display: flex;
}

.modal-privacy-link {
  line-height: 1.33;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.checkbox {
  display: inline-flex;
  flex-shrink: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-right: 8px;
  fill: transparent;
  align-items: center;
  justify-content: center;
}

.modal-checkbox:checked + .modal-checkbox-text .checkbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.input-privacy-field {
  margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
  .modal {
    min-height: 584px;
    width: 408px;
    padding: 72px 24px 24px;
  }
}

@media screen and (min-width: 1158px) {
  .modal-input {
    padding-left: 38px;
  }
}
